RL Theory/references.bib
RL Theory/RL Theory.aux
RL Theory/RL Theory.bbl
RL Theory/RL Theory.bcf
RL Theory/RL Theory.blg
RL Theory/RL Theory.fdb_latexmk
RL Theory/RL Theory.fls
RL Theory/RL Theory.log
RL Theory/RL Theory.run.xml
RL Theory/RL Theory.synctex.gz
images/
images/*
test.ipynb
__pycache__/environment.cpython-310.pyc
__pycache__/
__pycache__/*

